mixin navigation
   .nav
      a.nav_item.nav_item__active(href='#') ABOUT US
      a.nav_item.project_scroll(href='#') PROJECTS
      a.nav_item.news_scroll(href='#') NEWS
      a.nav_item.contact_scroll(href='#') CONTACT
      