.page-header {
    padding: 5px 0 5px 0;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-header a {
    color: white;
    font-size: 24px;
    padding: 15px;
}

.page-header a:hover {
    color:#1050c7;
    font-weight:bold;
    text-decoration:none;
}

.page-header a:link {
    text-decoration:none;
}

.page-header div {
    margin-right: 15px;
}

.header-menu {
    background: #ccc;
    text-align: center;
    padding: 5px;
}

.header-menu a {
    color: #282f33;
    font-size: 16px;
}

.header-menu a:link {
    text-decoration:none;
}

.header-menu a:visited {
    text-decoration:none;
}

.header-menu a:hover {
    text-decoration:underline;

}

.main article {
    display: inline-block;
}

.main img {
    float: left;
    margin: 10px 20px 10px 0px;
}

.main h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.main a:link {
    color: #000;
    text-decoration:none;
}

.main a:visited {
    color: #000;
    text-decoration:none;
}

.main a:hover {
    text-decoration:none;
    color: #00a5d2;
}

.main time, div {
    display: inline-block;
    margin-right: 20px;
    color: #888;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.main p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #343434;
}

aside {
    display:block;
    float: right;
}

main {
    display: block;
    float: left;
}

div {
    display: flex;
    flex-direction: row;

}
.page-footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #000;
    display: block;
    margin: 0 15px 0 15px;
}

.page-footer img {
    float: left;
}

.footer-menu {
    padding-left: 20px;
    float: left;
}

.footer-menu a:link {
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 16px;
    text-decoration:none;
}

.footer-menu a:visited {
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 16px;
    text-decoration:none;
}

.footer-menu a:hover {
    text-decoration:none;
    color: #00a5d2; 
    font-size: 16px;
    text-decoration:none;
}

.page-footer p {
    color: #737373;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 15px;
}

.sn {
    margin-left: 120px;
    padding:10px 10px 10px 0px;
}


.sn a:link {
    padding:10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 20px;
    text-decoration:none;
    border-radius:50px;
    border: 1px solid;
}

.sn a:visited {
    padding:10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 20px;
    text-decoration:none;
    border-radius:50px;
    border: 1px solid;
}

.sn a:hover {
        padding:10px 10px 10px 10px;

    text-decoration:none;
    color: #00a5d2; 
    font-size: 20px;
    text-decoration:none;
    border-radius:50px;
    border: 1px solid;
}




   