* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

html {
   background: black;
}

body {
   background: #fff;
   height: 1594px;
   width: 1000px;
   margin: auto;
   color: #999;
   font: 13px Georgia, Times, "Times New Roman", serif;
}

header {
   background: #e8e8e8;
   display: flex;
   align-items: baseline;
   height: 196px;
   padding: 50px 20px;
}

.logo {
   display: flex;
   align-items: center;
   width: 320px;
}

.title-big {
   font-size: 26px ;
   color: #333;
}

.title-big span {
   font-size: 36px;
}

.subtitle {
   font-size: 12px
   line-height: 16px;
}

.vertical {
   font-size: 36px
   line-height: 38px;
   margin: 0 5px 0 10px;
}

.top-navigator {
   margin-left: 50px;
}

.nav {
   font-size: 12px;
   color: #666;
   margin: 0 -15px 0 45px;
}

a {
      text-decoration-line: none;
   }

.nav:hover {
   color: #e2494b;
}

.controls {
   background: #fff;
   height: 70px;
   width: 960px;
   margin: -70px 20px 0 20px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 30px;
   border-radius: 5px 5px 0 0;
}

.slider {
   display: flex;
   margin:-10px 40px 50px 40px;
}

.slider-card {
   height: 370px;
   background: #333;
}

.slider-card,
.service-card,
.service-card__no-icon,
.lw-card {
   width: 210px;
   margin: 0 10px; 
}

.services,
.latest-work {
   display: flex;
   margin: 0 40px;
   height: 230px;
}

.service-card,
.service-card__no-icon {
   display:inline;
}

.service-card__no-icon h3,
.lw-card h3,
.service-card p,
.service-card__no-icon p,
.lw-card p,
.lw-card a {
   font-size: 18px;
   line-height: 22px;
   color: #666;
   text-align: justify;
}

.service-card h3,
.lw-card a  {
   font-size:  18px;
   line-height: 22px;
   color: #e2494b;
}

.service-card div {
   background: #353535;
   width: 48px;
   height: 48px;
   float:left;
   margin: 0 15px 0 3px;
}

.lw-card div {
   background: #333;
   width: 210px;
   height: 140px;
   margin-bottom: 25px;
}

h3,
.service-card p,
.service-card__no-icon p,
.lw-card p {
   margin-bottom: 20px;
}

.latest-work {
   margin-bottom: 90px;
}

.top-bar{
      z-index: 2;
   position: relative;

   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #fff;
   height: 70px;
   width: 960px;
   margin: 0 20px -70px 20px;
   padding: 0 30px;
   border-radius: 0 0 5px 5px;
}

.social,
.to-top   {
   background: #fff;
   display: flex;
}


.social-elipse {

   height: 33px;
   width: 33px;
   background: #333;
   border-radius: 50%;
   margin: 0 19px 0 0;
}


footer {
   position: relative;
   z-index: 1;
   height: 480px;
   display: flex;
   background: #e8e8e8;
   padding: 110px 20px 25px 20px;
}