* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

html {
   background: black;
}

body {
   background: #fff;
   height: 1594px;
   width: 1000px;
   margin: auto;
   color: #999;
   font: 13px Georgia, Times, "Times New Roman", serif;
}

header {
   background: #e8e8e8;
   display: flex;
   align-items: baseline;
   height: 196px;
   padding: 50px 20px;
}

.logo {
   display: flex;
   align-items: center;
   width: 320px;
}

.title-big {
   font-size: 26px ;
   color: #333;
}

.title-big span {
   font-size: 36px;
}

.subtitle {
   font-size: 12px
   line-height: 16px;
}

.vertical {
   font-size: 36px
   line-height: 38px;
   margin: 0 5px 0 10px;
}

.top-navigator {
   margin-left: 50px;
}

.nav {
   font-size: 12px;
   color: #666;
   margin: 0 -15px 0 45px;
}

a {
      text-decoration-line: none;
   }

.nav:hover {
   color: #e2494b;
}

.controls {
   background: #fff;
   height: 70px;
   width: 960px;
   margin: -70px 20px 0 20px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 30px;
   border-radius: 5px 5px 0 0;
}

.slider {
   display: flex;
   margin:-10px 40px 50px 40px;
}

.slider-card {
   height: 370px;
   background: #333;
}

.slider-card,
.service-card,
.service-card__no-icon,
.lw-card {
   width: 210px;
   margin: 0 10px; 
}

.services,
.latest-work {
   display: flex;
   margin: 0 40px;
   height: 230px;
}

.services-card{
   width: 210px;
   text-align: justify;
   margin: 0 10px;
}

.services-card-title{
   font-size: 18px;
   line-height: 22px;
   color: #e2494b;
   margin-bottom: 15px;
}

.services-card-content {
   line-height: 21px;
   margin-bottom: 15px;
}

.services-card-icon {
   background: #353535;
   width: 48px;
   height: 48px;
   float:left;
   margin-right: 15px;
}

.services-card__no-icon .services-card-icon {
   display: none;
}
.services-card__no-icon .services-card-content {
   line-height: 18px;
}

.services-card__no-icon .services-card-title {
   color: #666;
}

.services__latest-work{
   height: 275px;
}

.services-card__latest-work .services-card-icon {
   width: 210px;
   height: 140px;
   margin-bottom: 25px;
}

.services-card-link {
   color: #e2494b;
}

.top-bar{
   z-index: 2;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #fff;
   height: 70px;
   width: 960px;
   margin: 0 20px -70px 20px;
   padding: 0 30px;
   border-radius: 0 0 5px 5px;
}

.social,
.to-top   {
   background: #fff;
   display: flex;
}
.social-elipse {

   height: 33px;
   width: 33px;
   background: #333;
   border-radius: 50%;
   margin: 0 19px 0 0;
}

footer {
   position: relative;
   z-index: 1;
   height: 480px;
   flex-flow: row wrap;
   background: #e8e8e8;
   padding: 110px 20px 25px 20px;
}

.footer-main {
   display: flex;
   height: 310px;
   width: 960px;
}

.footer-about,
.footer-link-block,
.footer-blog,
.footer-contact {
   display: flex;
   flex-flow: column wrap;
   width: 240px;
}

.footer-blog,
.footer-contact {
   padding-left: 10px;
}

.footer-link-block{
   padding-right: 25px;
}

.footer-title {
   margin-bottom: 25px;
   font-size: 12px;
}

.footer-icon {
   width: 220px;
   height: 95px;
   position: absolute;
   border:1px solid #d4d4d4;
   margin-top: 45px;
}

.footer-icon:after {
   content: "";
   position: absolute;
   background: #333;
   top: 5px;
   right: 5px;
   bottom: 5px;
   left: 5px;
}

.footer-content {
   margin-top: 120px;
}

.footer-link {
   display: block;
   font-size: 12px;
   line-height: 22px;
   color: #e2494b;
}

.footer-link-block .footer-link{
      border-bottom: 1px solid  #d4d4d4;
}

.link-span {
   margin-right: 10px;
}

.footer-post-title {
   font-size: 14px;
   line-height: 17px;
}

.footer-post time {
   display: block;
   font-size: 10px;
   margin-bottom: 5px;
}

.footer p {
   font-size: 12px;
   line-height: 19px;
}

.form-name,
.form-email,
.form-message {
   width: 225px;
   height: 30px;
   background: #333;
   border-radius: 5px;
   border: none;
   padding: 10px;
   margin-bottom: 10px;
}

.form input::placeholder {
   color: #fff;
}

.form-message {
   height: 110px;
   padding: 0 10px 80px;
}

.button {
   width: 80px;
   height: 30px;
   border-radius: 5px;
   background: #e2494b;
   border: none;
   color: #fff;
   font-weight: bold;
}

.copyright {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid  #d4d4d4;
}

