.header {
  padding: 0 0 30px 60px;
  text-align: center;
}
.header_subtitle {
  color: #898f8f;
  font: 18px/24px Raleway, sans-serif;
  font-weight: 500;
}
.header_title {
  font: 60px/66px Roboto, sans-serif;
  font-family: Roboto;
  color: #ffcc00;
  font-weight: 900;
  padding: 10px 0 40px;
}
.header_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.line_border {
  background: #ffcc00;
  width: 210px;
  height: 1px;
}
.line_icon {
  margin: 0 7px;
}
