/*
.parent{
   display: inline-block;
   font-size: 0px;
}

.child{
   font-size: 12px;
}
*/

* {
   margin: 0;
   padding: 0;
   }

html{
   background: #2b81ac;
   margin:20px;
}

body {
   background: #3399cc;
   color: white;
}

main, header, main + p {
   padding: 20px 0px;
   margin: auto;
   width: 67%;
}

main {
   font:18px/2 Arial, Helvetica, sans-serif;
   font-weight: bold;
}


.first div, .second div, .third div{
   display: inline-block;
   vertical-align: top;
   text-align: center;
   font-size: 18px;
   box-sizing: border-box;
}

.first, .second, .third {
   width: 100%;
   border: solid white;
   border-bottom: none;
   font-size: 0px;
   box-sizing: border-box;
}

.Lisbon {
   background: #2c90cd;
   border-right: solid white;
   width: 50%;
}

.Paris {
   background: #53d2cd;
   border-right: solid white;
   width: 25%;
}

.Belgrade {
   background: #a15197;
   width: 25%;
}

.Moscow {
   background: #cb3d41;
   border-right: solid white;
   width: 25%;

}

.TelAviv{
   background: #ec5942;
   border-right: solid white;
   width: 25%;
}

.Cair {
   background: #ffd460;
   border-right: solid white;
   width: 25%;
}

.NewYork {
   background: #87d798;
   width: 25%;
}

.NewDelhi {
   background: #5c9b99;
   width: 25%;
   border-right: solid white;
}

.SanFrancisco{
   background: #d95595;
   width: 50%;
   border-right: solid white;
}

.Tokyo {
   background: #4aa568;
   position: relative;
   width: 25%;
}

.Sydney {
   background: #6c5898;
   width: 100%;
   text-align: center;
   border: solid white;
   box-sizing: border-box;

}

main + p {
   font:16px/1 Arial, Helvetica, sans-serif;
}

.t {
   display: inline-block;
   width: 100%;
   vertical-align: top;

}
.t p {
   display: inline-block;
   vertical-align: top;
   margin: 0px auto;
   height: 20%;
}

img {
   display: inline-block;
   padding-left: 10px;
   height: 20px;
   width: 30px;
}