-
  var teamItem = [{
      img: 'img/team1.png',
      name: 'Ida Morrison',
      position: 'CEO & Founder',
  },{
      img:'img/team2.png',
      name: 'Jackie Carroll',
      position: 'Art Director',
  },{
      img:'img/team3.png',
      name: 'Miguel Obrien',
      position: 'Designer',
  },{
      img: 'img/team1.png',
      name: 'Ida Morrison',
      position: 'CEO & Founder',
  },{
      img:'img/team2.png',
      name: 'Jackie Carroll',
      position: 'Art Director',
  },{
      img:'img/team3.png',
      name: 'Miguel Obrien',
      position: 'Designer',
  }];