html {
    background: #B0C4DE;
}
header {
    background:#4682B4;
    color:#F0FFF0;
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    font-weight:bold;
}

.sn li {
    display:block;
    margin-bottom: 30px;

}

a:link {
    color: #ADD8E6;
    padding:10px 10px 10px 10px;
    text-decoration:none;
    border-radius:50px;
    border: 1px solid;
}

a:hover {
    color: #F5FFFA;
    padding:10px 10px 10px 10px;
    text-decoration:none;
    border-radius:50px;
    border: 1px solid;
}

body {
    display:flex;
    flex-direction: row;
}

img {
    margin: 20px 20px 20px 20px;
    border:solid 5px;
    border-color: #ADD8E6;
}

div {
    padding:10px 10px 10px 20px;
    text-align: center;
}

h1 {
    font-size: 56px;
    font-family: Verdana;
    font-weight:bold;ize: 40px;
    text-align: center;
    font-style:italic;
}

ol {
    background: #4682B4;
    text-align: left;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 60px;
    font-size: 20px;
    color: white;

}