include bem/header/header
include bem/social/social
include bem/navigation/navigation
include bem/social/social
include bem/card/card

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700' rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='slick-1.8.1/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='slick-1.8.1/slick/slick-theme.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')



  body
  +header
  section.layout._scrollTo
    +card
    +card_invert




    script(src='js/script_scroll.js')

    ._map(style='height: 400px')
    script.
      function initMap() {
      var loc = {lat: -34.397, lng: 150.644};
      var map = new google.maps.Map(
      $('._map')[0], {zoom: 4, center: loc});
      var marker = new google.maps.Marker({position: loc, map: map});
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap')



