.form {
   min-width: 570px;
   min-height: 58px;
   display: flex;
   border: none;
   border-radius: 3px;
   box-sizing: border-box;
   &_input {
      width: calc(100% - 200px);
      border: 0;
      font: 400 14px/60px @fontFamily;
      color: #000;
      padding: 0 20px;
      text-align: center;
      &::placeholder {
         color: #a6a6a6;
      }
   }
   &_button {
      border: none;
      min-width: 200px;
      padding: 17px 0;
      text-transform: uppercase;
      color: #fff;
      font: 16px/26px @fontFamily;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #c90407;
   }
}