mixin card
   .card_header(id='project')
      h2.h2 WHAT WE DO
   .card.layout_section
      img.card_img(src='img/main1.jpg', alt='')
      .card_content
         h4.h4 ONE WORLD
         h2.h2.h2__left TRADE CENTER
         p.card_text Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
         button.card_button MORE DETEILS
         .card_location 
            i.fa.fa-map-marker   
            span   New York City, United States - 1776 feet

mixin card_invert
   .card.layout_section
      .card_content
         h4.h4 INTERNATION
         h2.h2.h2__left COMERCE CENTRE
         p.card_text Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
         button.card_button MORE DETEILS
         .card_location 
            i.fa.fa-map-marker   
            span   Hong Kong - 1588 Feet
      img.card_img.card_img__invert(src='img/main2.jpg', alt='')