* {
   margin: 0;
   padding: 0;
   }

body {
   display: block;
   padding: 20px;
   color: white;
   font: 14px/1 Arial, Helvetica, sans-serif;
   }

header {
   display: block;
   background: #555;
   color: #e0655c;
   padding: 30px;
   text-align: center;
}

main {
   background: #333;
}

div {
   padding: 20px;
   margin: 0px 25%;

}

label {
   display: block;
   padding: 10px;
   background: #87839e;
   text-align: left;
}

span + span {
   font: 12px/1 Arial, Helvetica, sans-serif;;
}

label:nth-child(even) {
   background: #7a7593;
}

label:hover {
   border-top: 3px solid white;
   border-bottom: 3px solid white ;
   background: #625e77;
}

input:checked+ span{
   text-decoration: line-through;
}

input:checked+ span+ span  {
   text-decoration: line-through;
}

.button {
   padding: 15px;
   margin-top: 20px;
   margin-bottom: 60px; 
   text-align: center;
   background: #4a4f56;
   color: #e0655c;
   font-size: 25px;
   border: none;
   width: 100%;
}