mixin footer
  footer.footer.layout.layout__footer
    .layout_section.layout_section__footer
      .footer_main
        +logo
        +social
      .footer_copyright
        p.footer_text Copyrights © 2017 Monticello Group  |  Made with ♥ by Ga Huy
    
