.service {
  &_item {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 90px 0 138px;
    background: transparent;

  }
  &_title {
    font: 700 24px @fontPT;
    color: @colorText;
    margin: 20px 0 30px;
  }
  &_text {
   font:400 18px @fontPT;
   color: @colorText;
   font-style: italic;
   }
}