mixin navigation
   .nav
      a.nav_item.nav_item__active(href='#') ABOUT US
      a.nav_item._scrollLink(href='#project') PROJECTS
      a.nav_item._scrollLink(href='#news') NEWS
      a.nav_item._scrollLink(href='#contact') CONTACT