mixin header
  #home.layout.header
    .layout_section
        .header_navigation
          a(href='index.html')
            img.logo(src='img/logo.svg', alt='')
          .header_menu
            a.header_menu-item(href='#home') home
            a.header_menu-item._scrollLink(href='#about') about
            a.header_menu-item._scrollLink(href='#services') services
            a.header_menu-item._scrollLink(href='#works') works
    .header_main
      h1.h1 CreativE DIGITAL Project
      p.header_text
        |Duis mollis, est non commodo luctus,
        |nisi erat porttitor ligula, eget lacinia odio sem nec elit.

