mixin social
   .social
      a.social_link(href='')
        i.fab.fa-behance.social_item
      a.social_link(href='')
        i.fa.fa-linkedin-square.social_item
      a.social_link(href='')
        i.fa.fa-twitter.social_item
      a.social_link(href='')
        i.fa.fa-instagram.social_item