mixin about 
   .about(id='about').layout_section
      .about_header
         h2.h2 About us
      img.about_img(src='img/about.jpg', alt='')
      .about_main
         .about_text
           | Nullam quis risus eget urna 
           span.about_text.about_text__bold mollis ornare
           |   vel eu leo.
           |   Donec id elit non mi porta gravida at eget metus. Donec
           |   ullamcorper nulla non metus auctor fringilla. Vivamus
           |   sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
           br
           br
           span.about_text.about_text__bold Morbi leo risus
           | , porta ac consectetur ac, vestibulum at eros.
           |   Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
           |   auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
           |   venenatis vestibulum. Maecenas faucibus mollis interdum. Cras
           |   mattis consectetur purus sit amet fermentum. Sed posuere consectetur
           |   est at lobortis.


         button.button Learn More